@import '../../Styles/global';


.new-story-page {

    .sub-bar {
        .sub-bar-button {
            margin-left: 10px;

            &.save-changes {
                width: 140px;
            }
        }

        .continue-button {
            width: 180px;
        }
    }

    .create-tidbit-navbar {
        width: 372px;
    }

    .create-new-story-name {
        @extend .create-tidbit-x;

        input {
            height: 53px;
            width: 800px;
        }

        .char-count {
            position: absolute;
            top: 60px;
            left: calc(50% + 300px);
            color: $color4;
            width: 100px;
            text-align: right;
        }
    }

    .create-new-story-description {
        @extend .create-tidbit-x;

        textarea {
            height: 400px;
            width: 600px;
        }

        .char-count {
            width: 100px;
            position: absolute;
            top: 450px;
            left: calc(50% + 220px);
            color: $color4;
            text-align: right;
        }
    }

    .create-new-story-tags {
        @extend .create-tidbit-x;

        input {
            height: 53px;
            width: 500px;
        }
    }

    .create-new-story-tags {
        @extend .create-tidbit-tags;
    }
}
