@import '../Styles/mixins';
@import '../Styles/variables';

.content-box {
    box-sizing: border-box;
    min-height: 300px;
    min-width: 300px;
    max-width: 375px;
    color: white;
    position: relative;
    margin: 0 10px 25px 10px;
    display: inline-flex;
    flex-grow: 1;
    cursor: pointer;
    @include light-box-shadow();

    &.snipbit {
        background-color: $content-color1;
    }

    &.bigbit {
        background-color: $content-color2;
    }

    &.story {
        background-color: $content-color3;
    }

    .name {
        height: 100px;
        line-height: 100px;
        font-size: 24px;
        max-width: 285px;
        text-align: center;
        margin: 0 auto 0 auto;
        hyphens: auto;

        .vertically-centered-text {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }

    .description {
        text-align: left;
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
        background-color: white;
        color: $color5;
        hyphens: auto;
    }
}
