@import '../Styles/mixins';
@import '../Styles/variables';


.progress-bar {
    @include no-select();

    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $color13;
    padding: 5px;
    color: $color6;

    .progress-bar-completion-bar {
        position: absolute;
        height: 100%;
        background-color: $color3;
        z-index: -1;
        left: 0;
        top: 0;

        &.disabled {
            background-color: $color13;
        }
    }

    &.selected {
        border-color: $color1;
    }

    &.completed {
        border-color: $color8;
    }

    &.click-allowed {
        cursor: pointer;
    }

    &.disabled {
        border-color: $color13;
        color: $color8;
    }
}
