@import "mixins";
@import "variables";

html {
  min-width: $min-width-supported;
  min-height: $min-height-supported;
}

html, body, #main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.input-error-highlight {
  border: 2px solid $error-color1 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
  display: none;
}
