@import '../../Styles/global';
@import '../../Styles/mixins';
@import '../../Styles/variables';


.home-component-wrapper {
    width: 100%;
    height: 100%;

    .home-component {

        height: 100%;

        .view-snipbit {
            width: 100%;
            height: 100%;

            color: black;

            .viewer {
                display: block;
                margin: auto;
                width: $min-width-supported;

                .snipbit-navbar {
                    display: block;
                    height: 70px;
                    padding-top: 30px;
                    margin: auto;
                    width: 100%;
                    text-align: center;

                    .snipbit-navbar-item {
                        @include no-select();

                        position: relative;
                        display: inline-block;
                        color: $color4;
                        border: 1px solid $color2;
                        height: 30px;
                        line-height: 30px;
                        margin: 1px;
                        padding: 5px;
                        cursor: pointer;

                        &.selected {
                            color: $color1;
                        }
                    }

                    i {
                        @include no-select();

                        position: relative;
                        color: $color5;
                        height: 30px;
                        width: 30px;
                        font-size: 30px;
                        cursor: pointer;
                    }

                    .action-button {
                        top: 10px;
                        margin: 0 5px 0 5px;
                    }

                    .blank-icon {
                        color: white;
                        cursor: default;
                    }
                }

                .comment-block {
                    display: inline-block;
                    width: 354px;
                    height: 600px;
                    margin-left: 10px;

                    textarea {
                        width: 100%;
                        height: 50%;
                        border: 1px solid $color2;
                    }
                }
            }
        }

        .create-select-tidbit-title {
            color: $color6;
            font-size: 52px;
            text-align: center;
        }

        .create-select-tidbit-box {
            width: $min-width-supported;
            height: 100%;
            position: relative;
            display: block;
            margin: auto;

            .create-select-tidbit-type-coming-soon {
                @include light-box-shadow();
                position: relative;
                box-sizing: border-box;
                display: inline-block;
                width: 324px;
                height: 324px;
                float: left;

                .coming-soon-text {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 28px;
                    color: $color4;
                    width: 100%;
                    text-align: center;
                }

                .coming-soon-sub-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    color: $color4;
                }
            }

            .create-select-tidbit-type {
                @include strong-box-shadow();
                box-sizing: border-box;

                position: relative;
                display: inline-block;
                width: 324px;
                height: 324px;
                margin-right: 25px;
                background-color: white;
                border: none;
                font-size: 28px;
                font-weight: 700;
                color: $color5;
                float: left;

                .description-title {
                    font-size: 22px;
                    width: 300px;
                    padding: 10px;
                }

                .description-text {
                    font-size: 16px;
                    width: 300px;
                    padding: 10px;
                    font-weight: normal;
                }

                .back-button {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }

                .create-select-tidbit-type-title {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .create-select-tidbit-type-sub-title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 16px;
                    width: 300px;
                    text-align: center;
                    transform: translate(-50%, -50%);
                }

                button {
                    border: 2px solid $color1;
                    border-radius: 15px;
                    background-color: white;
                    color: $color1;

                    &:hover {
                        color: white;
                        background-color: $color1;
                    }
                }

                .info-button {
                    position: absolute;
                    bottom: 10px;
                    right: 60px;
                }

                .select-button {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }

        .nav {
            width: 100%;
            height: 50px;
            background-color: $color1;
            border-bottom: 2px solid $color6;

            .logo {
                @include no-select();

                height: 44px;
                padding: 3px;
                background-color: white;
                border-bottom: 2px solid $color6;
                display: inline-block;
                float: left;

            }

            .nav-btn {
                @include no-select();

                display: inline-block;
                box-sizing: border-box;
                color: white;
                height: 30px;
                margin: 10px;
                font-size: 26px;
                cursor: default;

                &.selected {
                    border-bottom: 1px solid white;
                }
            }
        }

        .create-tidbit-navbar {
            @include no-select();

            margin: 20px auto 10px auto;
            position: relative;
            display: block;
            color: $color4;

            .create-tidbit-tab {
                box-sizing: border-box;
                width: 100px;
                height: 30px;
                position: relative;
                display: inline-block;
                cursor: pointer;
                border: 1px solid $color2;
                margin: 1px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;

                &.create-tidbit-selected-tab {
                    color: $color1;
                }
            }
        }

        .create-tidbit-sub-bar {
            position: relative;
            display: inline-block;
            width: 100%;
            background-color: $color2;
            margin-bottom: 10px;
            height: 40px;
            padding-top: 10px;

            .sub-bar-button {
                position: relative;
                display: inline-block;
                height: 30px;
                width: 100px;
                border: none;
                border-radius: 5px;
                color: white;

                &:hover {
                    color: $color6;
                }
            }
        }

        .create-bigbit {

            height: 100%;

            .create-tidbit-navbar {
                width: 410px;
            }

            .create-tidbit-sub-bar {
                .sub-bar-button {
                    margin-left: 10px;
                }
            }

            .create-bigbit-name {
                @extend .create-tidbit-x;

                input {
                    height: 73px;
                    width: 800px;
                }
            }

            .create-bigbit-description {
                @extend .create-tidbit-x;

                textarea {
                    height: 400px;
                    width: 600px;
                }
            }

            .create-bigbit-tags {
                @extend .create-tidbit-x;

                input {
                    width: 500px;
                    height: 53px;
                }
            }

            .create-bigbit-code {
                @extend .create-tidbit-code;

                .toggle-fs-icon {
                    position: absolute;
                    display: relative;
                    height: 5px;
                    width: 5px;
                    margin-left: -3px;
                    margin-top: -25px;
                    color: $color4;
                    cursor: pointer;
                }

                .close-fs-icon {
                    margin-top: -5px;
                    margin-left: 320px;
                }

                .file-structure {
                    box-sizing: border-box;
                    position: block;
                    display: relative;
                    height: 600px;
                    width: 360px;
                    border: 1px solid $color2;
                    margin-bottom: 10px;
                    padding: 10px;

                    .add-file, .add-folder, .remove-file, .remove-folder {
                        width: 165px;
                    }

                    .selected-action-button {
                        background-color: $color2;
                        color: $color5;
                    }

                    .add-file {
                        position: absolute;
                        bottom: 10px;
                    }

                    .add-folder {
                        position: absolute;
                        bottom: 10px;
                        right: 15px;
                    }

                    .remove-file {
                        position: absolute;
                        bottom: 56px;
                    }

                    .remove-folder {
                        position: absolute;
                        bottom: 56px;
                        right: 15px;
                    }

                    .fs-action-input {
                        position: absolute;
                        width: 330px;
                        height: 53px;
                        bottom: 110px;
                        left: 12px;
                        text-align: center;

                        input {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .close-action-input {
                        position: absolute;
                        bottom: 25px;
                        font-size: 32px;
                    }

                    .create-bigbit-fs {
                        margin-top: 10px;
                        color: $color4;
                        font-size: 16px;

                        .create-bigbit-fs-sub-content {
                            margin-left: 10px;
                        }

                        .create-bigbit-fs-folder {
                            cursor: pointer;
                            position: relative;

                            .folder-icon {
                                display: inline-block;
                            }

                            .folder-name {
                                position: relative;
                                display: inline-block;
                                top: -5px;
                                left: 3px;
                            }
                        }

                        .create-bigbit-fs-file {
                            cursor: pointer;

                            .file-icon {
                                display: inline-block;
                            }

                            .file-name {
                                position: relative;
                                display: inline-block;
                                top: -5px;
                                left: 3px;
                            }
                        }
                    }
                }
            }
        }

        .create-tidbit-x {
            position: relative;
            display: block;
            margin-top: 40px;
            width: 100%;
            height: 100%;

            input, textarea {
                position: relative;
                display: block;
                margin: 20px auto 20px auto;
                border: 1px solid $color2;
                border-radius: 5px;
                font-size: 26px;
                color: $color5;
            }

            input {
                text-align: center;
            }

            textarea {
                padding: 20px;
            }
        }

        .create-tidbit-tags {
            @extend .create-tidbit-x;

            input {
                width: 500px;
                height: 53px;
            }

            .current-tags {
                width: 500px;
                display: block;
                margin: -13px auto 0 auto;

                .tag {
                    @include no-select();

                    border: 2px solid $color3;
                    border-radius: 5px;
                    display: inline-block;
                    position: relative;
                    float: left;
                    padding: 5px;
                    margin: 0 5px 5px 0;

                    button {
                        color: white;
                        background-color: $color5;
                        border: none;
                        border-radius: 10px;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        .create-tidbit-code {
            width: $min-width-supported;
            display: block;
            margin: 50px auto 0 auto;

            .comment-creator {
                box-sizing: border-box;
                position: relative;
                display: inline-block;
                margin: 0 0 0 10px;
                width: 366px;
                height: 600px;
                border-radius: 5px;

                button {
                    @include no-select();
                    color: $color4;
                    border: 1px solid $color2;
                    margin: 1px;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                    background-color: white;
                    cursor: pointer;
                }

                .comment-body {
                    width: 100%;

                    textarea {
                        width: 354px;
                        height: 200px;
                        border: 1px solid $color2;
                    }
                }

                .action-button {
                    background-color: $color4;
                    color: white;
                    width: 35px;
                    height: 35px;
                    float: right;
                    border: none;
                }

                .plus-button {
                    margin-right: 6px;
                }

                hr {
                    color: $color2;
                    background-color: $color2;
                    height: 0px;
                    width: 0px;
                    margin: 0px;
                }

                .selected-frame {
                    color: $color1;
                }
            }
        }

        .create-snipbit {

            height: 100%;

            .create-tidbit-navbar {
                width: 510px;
            }

            .create-snipbit-name {
                @extend .create-tidbit-x;

                input {
                    height: 73px;
                    width: 800px;
                }
            }

            .create-snipbit-description {
                @extend .create-tidbit-x;

                .create-snipbit-description-box {
                    height: 400px;
                    width: 600px;
                }
            }

            .create-snipbit-language {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 300px;
                }

                button {
                    position: relative;
                    display: block;
                    width: 300px;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                    margin: -15px auto 0 auto;
                    background-color: $color4;
                    color: white;
                    font-size: 14px;
                }

                ul.lang-select-ac {
                    list-style-type: none;
                    padding: 0;
                }

                .lang-select-ac {
                    box-sizing: border-box;
                    position: relative;
                    height: 390px;
                    overflow-y: scroll;
                    width: 300px;
                    display: block;
                    margin: -15px auto 0 auto;
                    z-index: 1000;

                    .lang-select-ac-item {
                        @include no-select();
                        box-sizing: border-box;
                        z-index: 1000;
                        list-style-type: none;
                        color: $color4;
                        border: 2px solid $color2;
                        width: 300px;
                        height: 33px;
                        margin-bottom: 2px;
                        text-align: center;
                        line-height: 33px;
                        font-size: 18px;
                        border-radius: 3px;
                        margin-left: 0;
                        padding-left: 0;

                        &.key-selected {
                            background-color: #AAA;
                            color: $color5;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .create-snipbit-code {
                @extend .create-tidbit-code;
            }

            .create-tidbit-sub-bar {

                .create-snipbit-back-button {
                    @extend .sub-bar-button;

                    background-color: $color8;
                    margin: 0 10px 0 10px;
                }

                .create-snipbit-reset-button {
                    @extend .sub-bar-button;

                    background-color: $color8;
                    margin-right: 10px;
                }

                .create-snipbit-publish-button {
                    @extend .sub-bar-button;

                    float: right;
                    margin-right: 10px;
                    background-color: $color7;
                }

                .create-snipbit-disabled-publish-button {
                    @extend .sub-bar-button;

                    float: right;
                    margin-right: 10px;
                    background-color: white;
                    color: $color7;
                    cursor: not-allowed;

                    &:hover {
                        color: $color7;
                    }
                }
            }
        }
    }
}
