@import '../../Styles/global';
@import '../../Styles/mixins';
@import '../../Styles/variables';


.home-component-wrapper {
    width: 100%;
    height: 100%;

    .home-component {

        height: 100%;

        .profile-page {

            .profile-panel {
                position: relative;
                display: block;
                width: 1004px;
                height: 540px;
                margin: 20px auto 0px auto;

                .profile-card {
                    @include standard-box-shadow();
                    position: relative;
                    width: 497px;
                    display: inline-block;
                    float: left;
                    height: 200px;
                    padding: 10px;
                    box-sizing: border-box;
                    background-color: #FDFDFD;

                    .profile-card-title {
                        color: $color6;
                        font-size: 36px;
                        font-weight: 500;
                        margin: 5px 0 10px 0;
                    }

                    .profile-card-sub-box {
                        display: block;
                        margin-bottom: 5px;

                        i {
                            position: relative;
                            display: inline-block;
                            color: $color4;
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            margin-right: 1px;
                            line-height: 20px;
                            font-size: 22px;
                            box-sizing: border-box;
                            top: 5px;
                            left: 5px;
                        }

                        .bio-icons-box {
                            position: absolute;
                            top: 260px;
                            left: 33px;
                        }

                        .profile-card-sub-box-title {
                            display: inline-block;
                            color: $color4;
                            font-size: 18px;
                            font-weight: 600;
                            width: 70px;
                        }

                        .profile-card-sub-box-gap {
                            display: inline-block;
                            width: 5px;
                        }

                        .profile-card-sub-box-content {
                            display: inline-block;
                            font-style: italic;
                            color: $color5;
                            border: 1px solid $color2;
                            padding: 5px;
                            width: 200px;
                            cursor: default;

                            &:focus {
                                cursor: auto;
                            }

                            &.bio-textarea {
                                width: 390px;
                                height: 140px;
                                resize: none;
                            }

                            &.email-display {
                                cursor: not-allowed;
                            }
                        }
                    }

                    button {
                        box-sizing: border-box;
                        padding: 5px;
                        background-color: $color3;
                        border: 1px solid $color2;
                        border-radius: 3px;
                        width: 100px;
                        height: 43px;
                        cursor: pointer;
                        color: white;
                        font-size: 22px;
                        line-height: 33px;

                        &:hover {
                            color: $color5;
                        }
                    }

                    input {
                        font-size: 16px;
                        width: 180px;
                        display: inline-block;
                        background-color: #FDFDFD;
                        border: none;
                        font-style: italic;
                        font-weight: 400;
                        color: $color5;

                        &[disabled] {
                            @include no-select();
                        }
                    }

                    textarea {
                        display: inline-block;
                    }

                    .account-bio {
                    }

                    .logout-button {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }

                    &.editor-card {
                        float: right !important;
                        height: 510px;
                    }

                    &.account-card {
                        margin-bottom: 10px;
                        height: 300px;
                    }
                }
            }
        }

        .view-bigbit {
            height: 100%;

            .sub-bar {
                .sub-bar-button {
                    margin-left: 10px;
                }

                .explore-fs {
                    width: 150px;
                }
            }

            .view-bigbit-toggle-fs {
                @extend .above-comment-block-button;
                right: 0;
                width: 200px !important;
            }

            .view-bigbit-fs {
                box-sizing: border-box;
                padding-left: 10px;
                width: 100%;
                height: 100%;
                border: 1px solid $color2;
            }
        }

        .view-snipbit {
            height: 100%;

            .sub-bar-button {
                margin-left: 10px;
            }
        }

        .new-story-page {

            .sub-bar-button {
                margin-left: 10px;
            }

            .create-tidbit-navbar {
                width: 372px;
            }

            .create-new-story-name {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 800px;
                }
            }

            .create-new-story-description {
                @extend .create-tidbit-x;

                textarea {
                    height: 400px;
                    width: 600px;
                }
            }

            .create-new-story-tags {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 800px;
                }
            }

            .create-new-story-tags {
                @extend .create-tidbit-tags;
            }
        }

        .create-page {
            width: 85%;
            min-width: 900px;
            margin: auto;
            padding-top: 10px;

            .create-bar {
                width: 100%;
                height: 350px;
                position: relative;
                margin-top: 10px;

                .create-bar-title {
                    position: relative;
                    display: inline-block;
                    left: 10px;
                    font-size: 28px;
                    font-weight: 600;
                    color: $color5;
                }

                .create-bar-line {
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid $color2;
                    margin-bottom: 20px;

                }

                .story-box {
                    @include standard-box-shadow();
                    box-sizing: border-box;
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 275px;
                    height: 275px;
                    margin: 0 10px 0 10px;

                    .story-box-name {
                        box-sizing: border-box;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        text-align: center;
                        font-weight: 700;
                        color: $color5;
                        font-size: 28px;
                        padding: 10px;
                    }

                    button {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        border: 2px solid $color3;
                        border-radius: 15px;
                        color: white;
                        background-color: $color3;
                        padding: 2px 8px 2px 8px;
                        cursor: pointer;
                    }
                }

                .create-story-box {
                    box-sizing: border-box;
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 275px;
                    height: 275px;
                    margin: 0 10px 0 10px;
                    position: relative;
                    border: 2px dotted $color2;
                    cursor: pointer;

                    &:hover {
                        background-color: $color9;
                        border-style: solid;

                        .no-stories-box-icon {
                            color: $color4;
                        }
                    }

                    .no-stories-box-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 128px;
                        color: $color2;
                    }
                }

                .create-select-tidbit-type-coming-soon {
                    @include light-box-shadow();
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 275px;
                    height: 275px;
                    float: left;
                    margin-left: 10px;

                    .coming-soon-text {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 28px;
                        color: $color4;
                        width: 100%;
                        text-align: center;
                    }

                    .coming-soon-sub-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 16px;
                        color: $color4;
                        width: 275px;
                        text-align: center;
                    }
                }

                .create-select-tidbit-type {
                    @include strong-box-shadow();
                    box-sizing: border-box;

                    position: relative;
                    display: inline-block;
                    width: 275px;
                    height: 275px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: white;
                    border: none;
                    font-size: 28px;
                    font-weight: 700;
                    color: $color5;
                    float: left;

                    .description-text {
                        box-sizing: border-box;
                        font-size: 16px;
                        width: 275px;
                        padding: 10px;
                        font-weight: normal;
                    }

                    .back-button {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }

                    .create-select-tidbit-type-title {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .create-select-tidbit-type-sub-title {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        font-size: 16px;
                        width: 300px;
                        text-align: center;
                        transform: translate(-50%, -50%);
                    }

                    button {
                        border: 2px solid $color3;
                        border-radius: 15px;
                        color: white;
                        background-color: $color3;
                        padding: 2px 8px 2px 8px;
                        cursor: pointer;

                        &:hover {
                            color: white;
                            background-color: $color3;
                        }
                    }

                    .info-button {
                        position: absolute;
                        bottom: 10px;
                        right: 66px;
                    }

                    .select-button {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }
            }
        }

        .nav {
            width: 100%;
            height: 50px;
            background-color: $color1;
            border-bottom: 1px solid $color6;

            .logo {
                @include no-select();

                height: 44px;
                padding: 3px;
                background-color: white;
                border-bottom: 1px solid $color6;
                border-right: 1px solid $color6;
                display: inline-block;
                float: left;

            }

            .nav-btn {
                @include no-select();

                display: inline-block;
                box-sizing: border-box;
                color: white;
                height: 30px;
                margin: 10px;
                font-size: 26px;
                cursor: default;

                &.selected {
                    border-bottom: 1px solid white;
                }

                &.sign-up {
                    background-color: white;
                    border: 1px solid $color1;
                    color: $color3;
                    font-weight: 800;
                    padding: 5px 10px 5px 10px;
                    margin: 5px;
                    height: 40px;
                    cursor: pointer;
                    line-height: 30px;
                    border-radius: 2px;

                    &:hover {
                        background-color: $color2;
                        color: $color1;
                    }
                }

                &.login {
                    @extend .sign-up;
                    color: $color4;
                    margin-right: 0px;

                    &:hover {
                        color: $color5;
                    }
                }

                &.code-tidbit {
                    font-weight: 600;
                    font-size: 40px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0 10px 0 10px;
                    letter-spacing: 0px;
                }
            }
        }

        .create-tidbit-navbar {
            @include no-select();

            margin: 20px auto 10px auto;
            position: relative;
            display: block;
            color: $color4;

            .create-tidbit-tab {
                box-sizing: border-box;
                width: 120px;
                height: 30px;
                position: relative;
                display: inline-block;
                cursor: pointer;
                border-bottom: 2px solid $color2;
                margin: 2px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;

                &.create-tidbit-selected-tab {
                    color: $color3;
                }

                &.filled-in {
                    border-color: $color7;

                    .check-icon {
                        display: inline;
                    }
                }

                .check-icon {
                    display: none;
                    position: absolute;
                    font-size: 14px;
                    right: 0px;
                    top: 13px;
                    color: $color7;
                }
            }
        }

        .create-bigbit {

            height: 100%;

            .create-tidbit-navbar {
                width: 496px;
            }

            .sub-bar {
                .sub-bar-button {
                    margin-left: 10px;
                }

                .create-bigbit-disabled-publish-button {
                    @extend .disabled-publish-button;
                }

                .create-bigbit-publish-button {
                    @extend .publish-button;
                }
            }

            .create-bigbit-name {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 800px;
                }
            }

            .create-bigbit-description {
                @extend .create-tidbit-x;

                textarea {
                    height: 400px;
                    width: 600px;
                }
            }

            .create-bigbit-tags {
                @extend .create-tidbit-x;

                input {
                    width: 500px;
                    height: 53px;
                }
            }

            .create-bigbit-code {
                @extend .create-tidbit-code;

                .expand-file-structure {
                    @extend .above-comment-block-button;
                    right: 0px;
                }

                .preview-markdown {
                    @extend .above-comment-block-button;
                    right: 181px;
                }

                .bigbit-editor {
                    position: relative;

                    .current-file {
                        position: absolute;
                        top: -20px;
                        left: 10px;
                        font-size: 12px;
                        color: $color4;
                    }
                }

                .close-fs-icon {
                    margin-top: -5px;
                    margin-left: 320px;
                }

                .file-structure {
                    box-sizing: border-box;
                    position: block;
                    display: relative;
                    height: 600px;
                    width: 360px;
                    border: 1px solid $color2;
                    margin-bottom: 10px;
                    padding-left: 10px;

                    .add-file, .add-folder, .remove-file, .remove-folder {
                        width: 163px;
                        height: 36px;
                    }

                    .selected-action-button {
                        background-color: $color2;
                        color: $color5;
                    }

                    .add-file {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }

                    .add-folder {
                        position: absolute;
                        bottom: 10px;
                        right: 12px;
                    }

                    .remove-file {
                        position: absolute;
                        bottom: 56px;
                        left: 10px;
                    }

                    .remove-folder {
                        position: absolute;
                        bottom: 56px;
                        right: 12px;
                    }

                    .fs-action-input {
                        position: absolute;
                        height: 53px;
                        bottom: 105px;
                        left: 11px;
                        text-align: center;

                        input {
                            box-sizing: border-box;
                            text-align: center;
                            width: 336px;
                            height: 100%;
                            border: 1px solid $color2;
                        }

                        .fs-action-input-text {
                            position: absolute;
                            top: -16px;
                            left: 1px;
                            font-size: 12px;
                            color: $color5;
                            text-align: left;

                            .fs-action-input-select-language-text {
                                position: absolute;
                                top: -27px;
                                width: 300px;

                                .language-options {
                                    width: 100%;

                                    button {
                                        border-radius: 5px;
                                        height: 25px;
                                        line-height: 20px;
                                        font-size: 12px;
                                        margin: 3px 6px 3px -3px;
                                        padding: 3px;

                                        &:hover {
                                            background-color: $color2;
                                            color: $color5;
                                        }
                                    }
                                }
                            }
                        }

                        .action-button-submit-icon {
                          position: absolute;
                          top: 5px;
                          right: 3px;
                          font-size: 43px;
                          color: $color3;
                          cursor: pointer;
                        }

                        .arrow-confirmed {
                          color: red;
                        }
                    }

                    .close-action-input {
                        position: absolute;
                        bottom: 25px;
                        font-size: 32px;
                    }
                }
            }
        }

        // General styling for every tab except code tab.
        .create-tidbit-x {
            position: relative;
            display: block;
            margin-top: 40px;
            width: 100%;

            input, textarea {
                position: relative;
                display: block;
                margin: 20px auto 20px auto;
                border: 1px solid $color2;
                border-radius: 5px;
                font-size: 26px;
                color: $color5;
            }

            input {
                text-align: center;
            }

            textarea {
                padding: 20px;
            }
        }

        .create-tidbit-tags {
            @extend .create-tidbit-x;

            input {
                width: 500px;
                height: 53px;
            }

            .current-tags {
                width: 500px;
                display: block;
                margin: -13px auto 0 auto;

                .tag {
                    @include no-select();

                    border: 2px solid $color3;
                    border-radius: 5px;
                    display: inline-block;
                    position: relative;
                    float: left;
                    padding: 5px;
                    margin: 0 5px 5px 0;

                    button {
                        color: white;
                        background-color: $color5;
                        border: none;
                        border-radius: 10px;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        // General styling for code tab.
        .create-tidbit-code {
            width: $min-width-supported;
            display: block;
            margin: 50px auto 0 auto;

            .comment-creator {
                position: relative;
                display: inline-block;
                margin-left: 10px;
                width: 360px;
                height: 600px;

                button {
                    @include no-select();
                    color: $color4;
                    border: 1px solid $color2;
                    margin: 1px;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                    background-color: white;
                    cursor: pointer;
                }

                .comment-body {
                    width: 360px;

                    textarea {
                        box-sizing: border-box;
                        width: 360px;
                        height: 482px;
                        border: 1px solid $color2;
                        padding: 5px;
                        font-size: 16px;
                        resize: vertical;
                    }
                }

                .add-or-remove-frame-button {
                    background-color: $color5;
                    color: white;
                    width: 36px;
                    float: right;
                    border: none;
                    font-weight: 300;
                    font-size: 18px;

                    &:hover {
                        background-color: $color6;
                    }
                }

                hr {
                    color: $color2;
                    background-color: $color2;
                    height: 0px;
                    width: 0px;
                    margin: 0px;
                }

                .selected-frame {
                    background-color: $color1;
                    color: white;
                    border-color: $color1;
                }
            }
        }

        .create-snipbit {

            height: 100%;

            .create-tidbit-navbar {
                width: 620px;
            }

            .create-snipbit-name {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 800px;
                }
            }

            .create-snipbit-description {
                @extend .create-tidbit-x;

                .create-snipbit-description-box {
                    height: 400px;
                    width: 600px;
                }
            }

            .create-snipbit-language {
                @extend .create-tidbit-x;

                input {
                    height: 53px;
                    width: 300px;
                }

                button {
                    position: relative;
                    display: block;
                    width: 300px;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                    margin: -15px auto 0 auto;
                    background-color: $color4;
                    color: white;
                    font-size: 14px;
                }

                ul.lang-select-ac {
                    list-style-type: none;
                    padding: 0;
                }

                .lang-select-ac {
                    box-sizing: border-box;
                    position: relative;
                    height: 390px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    width: 300px;
                    display: block;
                    margin: -15px auto 0 auto;
                    z-index: 1000;

                    .lang-select-ac-item {
                        @include no-select();
                        box-sizing: border-box;
                        z-index: 1000;
                        list-style-type: none;
                        color: $color4;
                        border: 1px solid $color2;
                        width: 300px;
                        height: 33px;
                        margin-bottom: 3px;
                        text-align: center;
                        line-height: 33px;
                        font-size: 18px;
                        margin-left: 0;
                        padding-left: 0;

                        &.key-selected {
                            background-color: $color3;
                            color: $color6;
                            border-color: $color1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .create-snipbit-code {
                @extend .create-tidbit-code;

                .preview-markdown {
                    @extend .above-comment-block-button;
                    right: 0;
                }
            }

            .sub-bar {

                .create-snipbit-back-button {
                    @extend .sub-bar-button;
                    margin: 0 10px 0 10px;
                }

                .create-snipbit-reset-button {
                    @extend .sub-bar-button;
                    margin-right: 10px;
                }

                .create-snipbit-publish-button {
                    @extend .publish-button;
                }

                .create-snipbit-disabled-publish-button {
                    @extend .disabled-publish-button;
                }
            }
        }

        .disabled-publish-button {
            @extend .sub-bar-button;

            float: right;
            margin-right: 10px;
            cursor: not-allowed !important;
            box-shadow: none !important;
            color: $color4;
        }

        .publish-button {
            @extend .disabled-publish-button;

            background-color: $color7 !important;
            color: white !important;
            cursor: pointer !important;

            &:hover {
                background-color: $color7 !important;
                color: $color5 !important;
            }
        }

        // Currently used by both snipbit and bigbit viewers.
        .viewer {
            display: block;
            margin: auto;
            width: $min-width-supported;

            .viewer-navbar {
                display: block;
                height: 75px;
                padding-top: 25px;
                margin: auto;
                width: 100%;
                text-align: center;

                .viewer-navbar-item {
                    @include no-select();

                    position: relative;
                    display: inline-block;
                    color: $color4;
                    border: 1px solid $color2;
                    height: 30px;
                    line-height: 30px;
                    margin: 1px;
                    padding: 5px;
                    cursor: pointer;

                    &.selected {
                        color: $color1;
                    }

                    &.disabled {
                        color: $color2;
                        cursor: default;
                    }
                }

                i {
                    @include no-select();

                    position: relative;
                    color: $color5;
                    height: 30px;
                    width: 30px;
                    font-size: 30px;
                    cursor: pointer;
                }

                .action-button {
                    top: 10px;
                    margin: 0 5px 0 5px;
                }

                .disabled-icon {
                    color: $color2;
                    cursor: default;
                }
            }

            .comment-block {
                position: relative;
                display: inline-block;
                width: 360px;
                height: 600px;
                margin-left: 10px;

                textarea {
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color2;
                    font-size: 16px;
                    resize: vertical;
                }

                .above-comment-block-text {
                    position: absolute;
                    font-size: 12px;
                    color: $color4;
                    top: -15px;
                }

                .view-relevant-hc {
                    .markdown-box {
                        height: 568px;
                    }
                }

                // Styles copied but these really go beneath the comment block,
                // not above.
                .above-comment-block-button {
                    width: 119px;
                    bottom: 0px;
                    top: auto;
                    width: 100px;
                }

                .next-button {
                    right: 0px;
                }

                .go-to-frame-button {
                    right: 102px;
                    width: 156px;
                }
            }
        }

        .progress-bar {
            @include no-select();

            position: relative;
            display: inline-block;
            width: 150px;
            height: 30px;
            line-height: 30px;
            border: 1px solid $color2;
            padding: 5px;
            color: $color6;

            .progress-bar-completion-bar {
                position: absolute;
                height: 100%;
                background-color: $color3;
                z-index: -1;
                left: 0;
                top: 0;

                &.disabled {
                    background-color: $color2;
                }
            }

            &.selected {
                border-color: $color1;
            }

            &.disabled {
                border-color: $color2;
                color: $color8;
            }
        }

        // Should be put in the comment-block for correct positioning.
        .above-editor-text {
            position: absolute;
            top: -20px;
            left: -645px;
            font-size: 12px;
            color: $color4;
        }

        .above-comment-block-button {
            @include no-select();
            position: absolute;
            top: -33px;
            padding: 5px 10px 5px 10px;
            background-color: $color5;
            color: white;
            cursor: pointer;
            width: 179px;
            box-sizing: border-box;
            text-align: center;

            &:hover {
                background-color: $color6;
            }

            &.disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }

        .comment-body-bottom-buttons {
            position: relative;
            margin-top: 3px;
            margin-left: -1px;
            width: 363px;

            button {
                margin-right: 2px !important;
                height: 36px;
            }

            .introduction-button, .conclusion-button {
                width: 111px;
            }

            .frame-buttons-box {
                height: 76px;
                overflow-y: auto;

                button {
                    width: 35px;
                }
            }
        }

        .sub-bar {
            position: relative;
            display: inline-block;
            width: 100%;
            background-color: $color9;
            margin-bottom: 10px;
            height: 40px;
            padding-top: 10px;
            border-bottom: 1px solid $color2;

            .sub-bar-button {
                @include light-box-shadow();

                position: relative;
                display: inline-block;
                height: 30px;
                width: 100px;
                border: none;
                border-radius: 2px;
                color: $color6;
                background-color: white;
                cursor: pointer;

                &:hover {
                    @include strong-box-shadow();
                }

                &.view-relevant-ranges {
                    width: 150px !important;
                    float: right;
                    margin-right: 10px;
                    background-color: $color7;
                    color: white;

                    &:hover {
                        color: $color5;
                    }
                }

                &.previous-frame-location {
                    width: 160px;
                }
            }
        }
    }
}
