@import '../../Styles/global';


.view-snipbit-page {
    height: 100%;

    .sub-bar-button {
        margin-left: 10px;
    }

    .viewer {
        width: 995px;
    }

    #code-editor-wrapper {
        padding-left: 0;
    }

    .comment-block {
        .view-questions {
            height: 600px;
            width: 360px;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border: 1px solid $color9;
            padding: 8px;
        }
    }
}
