@import '../../Styles/global';
@import '../../Styles/mixins';
@import '../../Styles/variables';


.welcome-component-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;

    .logo {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .logo-title-1 {
        position: absolute;
        font-size: 68px;
        left: 134px;
        top: 8px;
        font-weight: bold;
        width: 250px;
        font-family: 'Raleway', sans-serif;
        color: $color4;
        letter-spacing: -2px;
    }

    .logo-title-2 {
        position: absolute;
        font-size: 68px;
        left: 135px;
        top: 62px;
        font-weight: bold;
        width: 250px;
        font-family: 'Raleway', sans-serif;
        color: $color8;
        letter-spacing: -2px;
    }

    .welcome-component-change-tab-button {
        @extend .gray-button;
        position: absolute;
        right: 23px;
        top: 23px;
    }

    .welcome-component {
        @include strong-box-shadow();

        position: absolute;
        width: 600px;
        height: 377px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 12px;

        .welcome-component-motto {
            font-size: 32px;
            color: white;
        }

        .welcome-box {

            .welcome-box-text {
                font-size: 32px;
                font-weight: 700;
                color: $color1;
                height: 55px;
                display: block;
                padding: 25px 10px 0 10px;
            }

            .welcome-box-sub-text {
                font-size: 18px;
                display: block;
                color: #222;
                height: 45px;
            }

            input {
                position: relative;
                border: 1px solid #DDD;
                display: inline-block;
                text-align: center;
                margin: auto;
                width: 270px;
                height: 59px;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            button {
                display: block;
                height: 60px;
                border-radius: 5px;
                width: 560px;
                margin: auto;
                color: white;
                background-color: $color1;
                font-size: 26px;
                border: none;
                margin-top: 5px;

                &:disabled {
                    cursor: not-allowed;
                }
            }

            .welcome-error-box {
                width: 270px;
                height: 20px;
                margin: auto;
                border-radius: 5px;
                color: $error-color2;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }

    .small-box {
        height: 298px !important;
    }

    .small-box-error {
        height: 323px !important;
    }

    .big-box-error {
        height: 402px !important;
    }
}
