@import '../../Styles/global';
@import '../../Styles/mixins';
@import '../../Styles/variables';


.create-story-page {
    height: 100%;

    .sub-bar {

        .sub-bar-button {
            margin-left: 10px;

            &.edit-information {
                width: 160px;
            }
        }
    }

    .create-story-page-content {
        padding: 10px 10px 0 10px;

        .create-story-page-title {
            color: $color12;
            font-weight: 600;
            font-size: 40px;
            text-align: center;
            width: 100%;
            line-height: 40px;
            height: 40px;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .no-tidbit-message {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
            color: $color14;
        }
    }

    .tidbit-box {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 275px;
        height: 275px;
        margin: 0 10px 20px 10px;
        flex-grow: 1;
        max-width: 350px;
        background-color: $color9;
        hyphens: auto;
        @include strong-box-shadow();

        &.not-yet-added, &.added {
            cursor: pointer;
            background-color: $color16;

            &:hover {
                @include strongest-box-shadow();
            }

            .tidbit-box-opinions {
                color: $color8;
            }
        }

        &.snipbit {
            .tidbit-box-name {
                color: $content-color1;
            }
        }

        &.bigbit {
            .tidbit-box-name {
                color: $content-color3;
            }
        }

        .tidbit-box-name {
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            padding: 10px;
        }

        .tidbit-box-page-number {
            position: absolute;
            top: 0;
            left: 5px;
            font-size: 20px;
            color: $color8;
        }

        .view-tidbit {
            position: absolute;
            top: 1px;
            right: 1px;
            color: $color8;
            cursor: pointer;
            font-size: 30px;

            &:hover {
                color: $color14;
            }
        }

        .tidbit-box-languages {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
            color: $color14;
            font-style: italic;
            width: 50%;
            text-align: right;
        }

        .tidbit-box-opinions {
            position: absolute;
            bottom: 3px;
            left: 3px;
            width: 80px;
            color: $color4;

            i {
                display: inline-block;
                float: left;
                font-size: 16px;
            }

            .like-count {
                display: inline-block;
                float: left;
                font-family: monospace;
                position: relative;
                font-size: 14px;
                top: -1px;
                margin: 0 1px 0 3px;
            }
        }
    }

    .empty-tidbit-box-for-flex-align {
        max-width: 350px;
    }
}
