@import '../../Styles/global';
@import '../../Styles/variables';


.view-story-page {
    width: 100%;
    height: 100%;

    .story-name {
        color: $color12;
        font-size: 48px;
        text-align: center;
        margin: 10px 0 10px 0;
        width: 100%;
        font-weight: 600;
    }

    .progress-bar-title {
        font-size: 12px;
        width: 100%;
        text-align: center;
        color: $color4;
    }

    .sub-bar-button {
        margin-left: 10px;
    }

    .view-story-page-content {
        padding: 0 10px 0 10px;

        .story-progress-bar-bar {
            text-align: center;
            width: 100%;
            display: block;
            height: 65px;
            text-align: center;
        }

        .empty-tidbit-box-for-flex-align {
            width: 300px;
            max-width: 375px;
        }
    }

    .no-tidbit-text {
        text-align: center;
        font-size: 22px;
        margin-top: 200px;
    }
}
